<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--    bootstrap url goes here-->
<!--    stylesheet link goes here-->
    <title>Details</title>
</head>
<body>
<div>
    <h2> Superhero I.D. - {{superhero.id}}</h2><br>
    <h2> Alter Ego - {{superhero.alter_ego}}</h2><br>
    <h2> Primary Ability. - {{superhero.primary_ability}}</h2><br>
    <h2> Secondary Ability. - {{superhero.secondary_ability}}</h2><br>
    <h2> Catchphrase - {{superhero.catchphrase}}</h2><br>
</div>

</body>
</html>