{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/images.css' %}">
    <title>Details</title>
</head>
<body class="full-height">
<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item"><a href="{% url 'superheroes:index' %}" class="nav-link dark">Index</a></li>
        <li class="nav-item"><a href="{% url 'superheroes:create' %}" class="nav-link dark">Create</a></li>
        <li class="nav-item"><a href="{% url 'superheroes:edit' superhero.id %}" class="nav-link dark">Edit</a></li>
        <li class="nav-item"><a href="{% url 'superheroes:delete' superhero.id %}" class="nav-link dark">Delete</a></li>
    </ul>
</div>
<br>
<style>
h1 {
    text-align: center;
}
</style>
<div class="table-responsive">
  <table class="table">
        <tr>
            <th>I.D.</th>
            <th>Name</th>
            <th>Alter Ego</th>
            <th>Primary Ability</th>
            <th>Secondary Ability</th>
            <th>Catchphrase</th>
        </tr>
    <tr>
        <td>{{superhero.id}}</td>
        <td>{{superhero.name}}</td>
        <td>{{superhero.alter_ego}}</td>
        <td>{{superhero.primary_ability}}</td>
        <td>{{superhero.secondary_ability}}</td>
        <td>{{superhero.catchphrase}}</td>
    </tr>
  </table>
</div>
</body>
</html>



